body {
  font-family: helvetica;
  text-align: left;
}

.mainWrapper {
  width: 100%;
  margin: 0px auto;
}

.header {
  width: 100%;
  font-size: 2.8em;
  text-align: center;
  color: #666;
  margin: -7px auto 60px auto;
  padding: 20px 0px 20px 0px;
  font-weight: 200;
  box-shadow: 0px 1px 5px #bbb;
}

.personWrapper {
  width: 50%;
  margin: 40px auto 40px auto;
  background-color: #eee;
  box-shadow: 1px 1px 5px #bbb;
  padding: 10px;
  border-radius: 2px;
}

.personName {
  width: 50%;
  color: #777;
  font-size: 2.5em;
  padding: 0;
  margin: 10px 0px 10px 0px;
  font-weight: 200;
}

.bioPic {
  display: block;
  float: left;
  max-width: 20%;
  height: auto;
  border-radius: 150px;
  object-fit:fill;
  margin: 5px 20px 0px 0px;
  transition: .3s;
}

.bioPic:hover {
  border-radius: 0px;
  transition: .3s;
}

.personTitle {
  padding: 0;
  margin: 5px 0px 0px 0px;
  font-weight: 200;
  color: #777;
}

.personBio {
  margin: 20px 0px 20px 0px;
  letter-spacing: .3px;
  line-height: 22px;
  font-size: 1em;
  color: #777;
}

.personLink {
  display: inline-block;
  text-decoration: none;
  color: #777;
  padding: 5px 10px 5px 10px;
  border: 1px solid #777;
  border-radius: 2px;
  margin-bottom: 2px;
}

.personLink:hover {
  color: #eee;
  background-color: #777;
}
