body {
  text-align: left;
  background-color: #eee;
}

.mainWrapper {
  width: 100%;
  margin: 0px auto;
  font-family: 'Alegreya Sans', sans-serif;
}

.header {
  width: 100%;
  height: 40px;
  font-size: 2.8em;
  text-align: center;
  color: #666;
  margin: -7px auto 60px auto;
  padding: 10px 0px 20px 0px;
  font-weight: 200;
  background-color: #fff;
  box-shadow: 0px 1px 5px #bbb;
}

#fetchBtn {
  font-family: 'Alegreya Sans', sans-serif;
  color: #777;
  font-size: 1.3em;
  background-color: #eee;
  border: 1px solid #777;
  padding: 10px 20px 10px 20px;
  margin: 0px auto;
  border-radius: 2px;
  display: block;
}

#fetchBtn:hover {
  color: #eee;
  background-color: #777;
  transition: .3s;
}

.personWrapper {
  font-family: 'Alegreya Sans', sans-serif;
  width: 50%;
  margin: 40px auto 40px auto;
  background-color: #fff;
  box-shadow: 1px 1px 5px #bbb;
  padding: 10px;
  border-radius: 2px;
}

.personName {
  width: 50%;
  color: #777;
  font-size: 2.5em;
  padding: 0;
  margin: 10px 0px 10px 0px;
  font-weight: 200;
}

.bioPic {
  display: block;
  float: left;
  max-width: 250px;
  max-height: 250px;
  border-radius: 150px;
  object-fit:fill;
  overflow: hidden;
  margin: 5px 20px 20px 0px;
  transition: .3s;
}

.bioPic:hover {
  border-radius: 0px;
  transition: .3s;
}

.personTitle {
  padding: 0;
  margin: 5px 0px 0px 0px;
  font-weight: 200;
  color: #777;
}

.personBio {
  margin: 20px 0px 20px 0px;
  letter-spacing: .3px;
  line-height: 22px;
  font-size: 1.1em;
  color: #777;
}

.personContact {
  display: inline-block;
  text-decoration: none;
  color: #777;
  padding: 5px 10px 5px 10px;
  border: 1px solid #777;
  border-radius: 2px;
  margin: 0px 10px 2px 0px;
  transition: .3s;
}

.personContact:hover {
  color: #eee;
  background-color: #777;
  transition: .3s;
}

!important .hide {
  display: none;
}
